<% include partials/header %>

<div class="ui main container">
	<div class="ui huge header">News Articles</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% for (var i = 0; i < articles.length; ++i) { %>
				<div class="item">
					<div class="image">	
						<img src="<%= articles[i].image %>">
					</div>
					<div class="content">
						<a class="header" href="/articles/<%= articles[i]._id %>"><%= articles[i].title %></a>
						<div class="meta">
							<div id="author"><strong><%= articles[i].author %></strong></div>
							<div id="category">Category: <strong><%= articles[i].category %></strong> </div>
							<div id="createdDate">Published: <strong><%= articles[i].created.toDateString() %></strong></div>
						</div>
						<div class="description">	
							<p><%- articles[i].content.substring(0, 300) %>...</p>
						</div>
						<div class="extra">	
							<a class="ui floated primary basic small button" href="/articles/<%= articles[i]._id %>">
								Read More
								<i class="right chevron icon"></i>
							</a>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include partials/footer %>
