<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= article.title %></div>
	<div class="top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= article.image %>">
			<div class="content">
				<span><%= article.created.toDateString() %></span>
			</div>
			<div class="description">
				<p><%- article.content %></p>
			</div>
			<a class="ui orange inverted button" href="/articles/<%= article._id %>/edit">Edit</a>
		</div>
	</div>
</div>

<% include partials/footer %>
